/* Enhance typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('https://www.google.com/imgres?q=airplane%20images%20for%20background%20css&imgurl=https%3A%2F%2Fwww.zingerbug.com%2FBackgrounds%2Fbackground_images%2Fairplane_at_sunset.jpg&imgrefurl=https%3A%2F%2Fwww.zingerbug.com%2FBackgrounds%2Findex_pages%2Fairplanes__rockets_page8.htm&docid=Vg0qx7AdLengPM&tbnid=g8DkxzFv7Z-69M&vet=12ahUKEwjf25GhzfCFAxWOj4kEHc7_BwsQM3oECGMQAA..i&w=1100&h=795&hcb=2&itg=1&ved=2ahUKEwjf25GhzfCFAxWOj4kEHc7_BwsQM3oECGMQAA'); /* Add your own image URL */
    background-size: cover;
    background-position: center;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #2c3e50;
    padding-top: 20px;
}

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #34495e;
}

input[type="date"],
input[type="range"],
select,
button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="date"]:focus,
input[type="range"]:focus,
select:focus,
button:focus {
    border-color: #3498db;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #3498db;
    height: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ecf0f1;
    cursor: pointer;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}
#airplane-icon {
    transition: transform 3s ease-in-out; /* Ensures the movement is smooth */
    z-index: 1000; /* Keeps the icon above other page elements */
}

button:hover {
    background-color: #2980b9;
}

#prediction-output {
    margin-top: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border: dashed 2px #bdc3c7;
    text-align: center;
    font-size: 16px;
    color: #2c3e50;
}

@media (max-width: 768px) {
    form {
        margin: 20px;
    }
}
